<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- Thisi is a partial template -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Volutpat
            odio
            facilisis mauris sit amet massa.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Volutpat
            odio
            facilisis mauris sit amet massa.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Volutpat
            odio
            facilisis mauris sit amet massa.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>